/* universal styling */

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

/* header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin-top: 0px;
}

header img{
  height: 50px;
}

nav span{
  display: inline-block;
  padding: 0px 10px;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

header nav {
  padding-right: 40px;
}

/* Content */

.content {
  width: 1200px;
  padding-top: 69px;
  opacity: 0.9;
  margin: auto;
}

/* Content Mission */

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/img-mission-background.jpg);
  width: auto;
  height: 700px;
}

.mission .text-content {
  background-color: black;
  width: 100%;
}

/* Content Tea of the month */

.store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.tea-single {
  display: block;
  padding: 5px;
}

.tea-single img {
  display: block;
  height: 200px;
  margin: 10px;
}

.tea-single span {
  display: block;
}
